@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {    
    @apply bg-[##FDF7E9];
  }  
}

/* 
colores
header: 394C3C
main: 2FAE7D
  92C56A
  E6D15A
footeR: F7785D
*/